@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,100,300);

.clase {

	-webkit-border-radius: 5px #7B7B7B;
	border-radius: 5px;
	-webkit-box-shadow: 2px 2px 0.5px #c3c3c3;
	box-shadow: 2px 2px 0.5px #c3c3c3;
}