@charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,100,300);

body {
	background-color: #ffffff;
	margin: 0;
	padding: 0;
}

.box i, h3, h4 {
	margin-left: 5px;
}

section,header,article {
	margin-top: 10px;
	margin-bottom: 10px;
}

header {
	margin-bottom: 60px;
}

.box {
	padding-bottom: 30px;
	-moz-box-shadow: 0px 2px 1px rgba(192, 192, 192, 0.5);
	-webkit-box-shadow: 0px 2px 1px rgba(192, 192, 192, 0.5);
	box-shadow: 0px 2px 1px rgba(192, 192, 192, 0.5);

}

.price {
	float: right;
	font-style: italic;
}

.pagination {
	float:right;
}

.icon{
	font-family: 'icomoon';
}

.stars {
	float: left;
	margin-top: 35px;
	color: #f8e605;
}

.img-thumbnail {
	margin-top: 4px;
}